html, div, h1 {
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0;
}

body {
    background-repeat: inherit;
    background-color: beige;
    background-blend-mode: difference;
    /* background-color: antiquewhite; */
    /* overflow: hidden; */
    overflow-x: hidden;
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0;
}

@font-face {
    font-family: coolFont;
    src: url(font.woff2);
}

#banner {
    position: absolute;
    left: 0vw;
    top: 4vw;
    height: 35vw;
    width: 100vw;
    image-rendering: pixelated;
}