#body {
    background-repeat: inherit;
    background-color: beige;
    background-blend-mode: difference;
    /* background-color: antiquewhite; */
}

@font-face {
    font-family: coolFont;
    src: url(font.woff2);
}

/*-------------------- navbar -----------------------*/
#mainTitle {
    /* text-align: center; */
    color: aliceblue;
    top: 1rem;
    left: 20rem;
    font-size: 3.5rem;
    font-family: coolFont;
    position: relative;
    /* top: -30px; */
}

#navbar {
    /* -ms-flex-item-align: center; */
    position: relative;
    top: -2.5rem;
    height: 6rem;
    width: 500rem;
    left: -2rem;
    background-color: rgb(15, 41, 15); 
}

/*--------------------the buttons--------------------*/
.tabs {
    color: aliceblue;
    /* width: 10rem;
    height: 5rem; */
    /* left: 60rem; */
    /* top: -6rem; */
    position: relative;
    font-family: coolFont;
    font-size: large;
}

#tabs {
    position: relative;
    top: -4rem;
}

#home {
    font-size: 1.5rem;
    left: 72rem;
}

#projects {
    font-size: 1.5rem;
    left: 74rem;
}


#friends {
    font-size: 1.5rem;
    left: 76rem;
}

/*---------------------- friend ---------------------*/
.friend {
    position: relative;
    width: 100rem;
    height: 50rem;
}
