#body {
    background-repeat: inherit;
    background-color: beige;
    background-blend-mode: difference;
    /* background-color: antiquewhite; */
}

@font-face {
    font-family: coolFont;
    src: url(font.woff2);
}

#banner {
    width: 550px;
    height: 150px;
}

#mainTitle {
    text-align: center;
    font-size: 50px;
    font-family: coolFont;
    position: relative;
    top: -30px;
}

#topDivider {
    border: none;
    height: 3px;
    background-color: #333;  
    position: relative;
    top: 70px;
}

#buttons {
    position: relative;
    top: -20px;
    
}

.tabs {
    width: 100px;
    height: 50px;
    font-family: coolFont;
    font-size: large;
}

/*--------------------the buttons--------------------*/
#projects {
    /* font-family: coolFont; */
}

#about {
    /* font-family: coolFont; */
}

#theShrine {
    /* font-family: coolFont; */
}